/* style.css */

/* Resetowanie stylów domyślnych */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Globalne style */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  line-height: 1.5;
  background-color: #f0f0f0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header.container {
  text-align: center;
  background-color: #333;
  color: #fff;
}

header.container h1 {
  font-size: 32px;
  padding: 20px;
}

main.container {
  background-color: #fff;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 5px;
}

a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

footer.container {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

/* Responsywność */
@media (max-width: 600px) {
  header.container h1 {
    font-size: 24px;
    padding: 10px;
  }

  main.container {
    padding: 10px;
  }

  h2 {
    font-size: 20px;
  }

  footer.container {
    padding: 5px;
  }
}
