* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 100;
  color: #fff;
  line-height: 1.5;
  background-color: #f0f0f0;
  background-color: #d9455b;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#photo {
  padding: 50px;
  background-color: #d9455b;
}

.container {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}


header.container h1 {
  font-size: 32px;
  text-align: center;
  padding: 20px;
}

main.container {
  margin-top: 20px;
  padding: 20px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-weight: 700;
  padding: 30px;
}
p {
  font-size: 28px;
  opacity: 0.8;
}

a {
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 22px;
  background-color: #fff;
  color: #d9455b;
  text-decoration: none;
  font-weight: bold;
  display: block;
  transition: background-color 0.3s ease;
  width: 140px;
  margin: 0 15px;
}
button {
  border-radius: 5px;
  cursor: pointer;
  margin: 0 15px;
  padding: 15px 30px;
  font-size: 22px;
  border: none;
  background-color: #fff;
  color: #d9455b;
  text-decoration: none;
  font-weight: bold;
  display: block;
  width: 140px;
  transition: background-color 0.3s ease;
  font-family: 'PT Sans Narrow', sans-serif;
}
.button-div {
  display: flex;
  justify-content: center;
  width: 100%;
}

a:hover, button:hover {
  opacity: 0.9;
}


footer.container {
  text-align: center;
  background-color: #333;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (max-width: 450px) {
  #photo {
    padding: 0;
  }
  h2 {
    padding: 30px 0;
  }
  p {
    font-size: 22px;
  }
  .button-div {
    flex-direction: column;
    align-items: center;
  }
  button {
    margin-top: 20px;
  }
  a, button {
    font-size: 18px;
  }
  footer p {
    font-size: 16px;
  }
}

